.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  background: #141024;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
ul {
  margin: 0;
  list-style: none;
  display: flex;
}
li {
  margin-right: 50px;
}
.item {
  color: #fff;
  font-size: 20px;
  line-height: 160%;
}

.tel {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 160%;
}
.tel:hover,
.item:hover {
  color: #d52027;
}
a {
  text-decoration: none;
}
