.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header,
.main {
  background: #141024;
}
.headerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
ul {
  margin: 0;
  list-style: none;
  display: flex;
  padding-bottom: 30px;
}
li {
  margin-right: 50px;
}
.item {
  color: #fff;
  font-size: 20px;
  line-height: 160%;
}
.nav a.active {
  color: red;
}

.tel {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 160%;
}
.tel:hover,
.item:hover {
  color: #d52027;
}
a {
  text-decoration: none;
}
.main-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.wrap-1 {
  margin-right: 400px;
}
.wrap-1 h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 600;
  width: 180%;
  line-height: 160%;
}
.wrap-1 p {
  color: #fff;
  font-size: 20px;
  line-height: 160%;
  width: 175%;
  margin-bottom: 80px;
}
.wrap-button {
  padding: 25px 54px;
  border-radius: 5px;
  background: #d52027;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border: none;
  line-height: 160%;
}
.wrap-button:hover {
  background: #eb040c;
}
.wrap-button:active {
  background: #c4040a;
}
img {
  max-width: 100%;
  height: auto;
}
.best-block {
  margin-top: 120px;
}
.best-block span {
  color: #141024;
  font-size: 30px;
  display: block;
  width: 890px;
  font-weight: 600;
  line-height: 160%;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
}
.card {
  width: 260px;
}
.card-number {
  color: #d52027;
  font-size: 70px;
  font-weight: 600;
  line-height: 160%;
}
.card-text {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  line-height: 160%;
}
.course-block {
  background: #f9f9f9;
}
.course-block h2 {
  color: #141024;
  font-size: 50px;
  font-weight: 600;
  line-height: 160%;
}
.info-block {
  margin-top: 180px;
}
.InfoCard-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.infoCard {
  width: 360px;
}
.infoCard .title {
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
}
.infoCard .text {
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  line-height: 160%;
  margin-top: 10px;
  padding-bottom: 50px;
}
.teacher-info h3 {
  margin-top: 130px;
}
.teacher-info p {
  width: 500px;
}
.CardCarousel {
  margin-top: -550px;
  text-align: center;
  float: right;
}

.footer {
  background: #141024;
  margin-top: 200px;
}
.inner {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer span {
  display: block;
  padding-bottom: 20px;
  color: #fff;
}

.about-main h2{
  color: #eb040c;
  margin-left: 130px;
}

.about-title {
  font-size: 38px;
  font-weight: bold;
  color: #fff;
} 
.aboutWrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-desc {
  background: #141024;
  padding: 20px;
  width: 50%;
  border-radius: 15px;
}
.about-desc p {
  font-size: 14px;
  margin: 55px 0;
  line-height: 22px;
}
.about-desc a {
  display: flex;
  font-size: 22px;
  margin-top: 10px;
  color: #fff;
}
.about-desc a:hover{
  color: gold;
}
.AddTaskIcon {
  margin-top: 5px;
  margin-right: 15px;
  color: gold;
}
